<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.number_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br />
    <%= f.number_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :negotiable %><br />
    <%= f.check_box :negotiable %>
  </div>
  <div class="field">
    <%= f.label :date_available %><br />
    <%= f.date_select :date_available %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :furnished %><br />
    <%= f.check_box :furnished %>
  </div>
  <div class="actions">
    <%= f.submit "Post Property" %>
  </div>

<% end %>
