<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @property.title %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @property.zipcode %>
</p>

<p>
  <b>Bedrooms:</b>
  <%= @property.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @property.bathrooms %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Negotiable:</b>
  <%= @property.negotiable %>
</p>

<p>
  <b>Date available:</b>
  <%= @property.date_available %>
</p>

<p>
  <b>Size:</b>
  <%= @property.size %>
</p>

<p>
  <b>Furnished:</b>
  <%= @property.furnished %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
