!!!
%html
  %head
    %title Flatsearch
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash
      %div= flash[:notice]
    = yield